@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap');

h1 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  color: #f55800;
}

h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.p-white {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
}

.bg-headline {
  background-image: url(./Art/Illustration-header-desktop.svg);
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
}

.headline {
  height: 100vh;
}

h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.div-line {
  height: 0px;
  border-bottom: 1px black solid;
}

.stories-img {
  width: 100%;
}

.p-black {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #091e42;
}
